@import url("https://fonts.googleapis.com/css?family=Podkova:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Podkova:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Podkova:800&display=swap");

html {
  font-family: Podkova, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: #ffe2b8;
}

body {
  margin: 0 0;
}

strong{
  font-weight: 800;
}

.header {
  padding: 1.5rem;
}

.wrapper{
  padding: 1.5rem;
}

.inputs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.input-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: stretch;
  padding: 1.5rem;
  margin: 1.5rem;

  border-radius: 88px;
  background: #ffe2b8;
  box-shadow:  14px 14px 36px #f0d4ad,
  -14px -14px 36px #fff0c3;
}


@media only screen and (max-width: 768px) {
  .input-card{
  }
  .inputs{
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .inputs {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1599px){
  .inputs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1600px) {
  .inputs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
